@charset "utf-8";
/* CSS Document */

body
{
	background: rgb(34, 34, 34);
}

h1
{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 400;
	font-size: 7em;
	text-align: center;
	transition: 3s;
	margin: 0;
	padding: 0;
}

h2
{
	position: absolute;
	top: 60%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	color: #FFFFFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 400;
	font-size: 4em;
	text-align: center;
	transition: 3s;
	margin: 0;
	padding: 0;
	
}

h1:hover
{
	letter-spacing: 30px;
}

h2:hover
{
	letter-spacing: 20px;
}

